<h1>hello world</h1>

<form id="address">
    <input type="text" placeholder="Address" id="address-text">
    <button type="submit">Find Deals</button>
</form>

<div>
    <ul>
    {{#each restaurants}}
    <li><a href="{{url}}">{{name}}</a></li>

    {{/each}}
    </ul>

</div>